body{

    font-family: 'Poppins', sans-serif;
    
    }
    
    .thumble-menu{
    
    display: flex;
    background-color: #2D25A0;
    padding-bottom: 100px;
    
    }
    
    .introduction {
    
        margin-top: 70px;
        font-size: 39px;
        width: 485px;
        height: 230px;
        padding-right: 210px;
        padding-left: 156px;
        margin-bottom: 240px;
        color: #FFFFFF;
       
    
    }
    
    .introduction-img img{
        width: 446px;
        height: 380px;
       
        margin-left: 140px;
        margin-top: 100px;
    
    }
    
     .introduction-img:hover{
    
        transform: translate(-100px, 3px);
        transition: 0.3s;
        
    
    
    } 
    
    
    
    
    
    .watch-btn{
    
    background-color: #E02C6D;
    color: #FFFFFF;
    text-decoration: none;
    border-color: #E02C6D;
    
    
    position: absolute;
    width: 168px;
    height: 44px;
    width: 168px;
    height: 55px;
    
    
    }
    
    .watch-btn span{
    
    padding-right: 4px;
    
    }
    .watch-btn:hover{
    
    background-color: rgb(255, 0, 0);
    border-color:rgb(255, 255, 255) ;
    transition: 0.5s;
    }
    
    
    /*---------------------------- TOP_PLyer-section -------------------------
     -----------------                                    -------------------    */
    
    .Top-Players{
                        
                    display: grid;
                        
                    grid-template-columns: repeat(3,1fr);
                        
                    padding-left: 110px;
                        
                    padding-right: 410px;
                        
                    margin-right: 27px;
                        
                    grid-row-gap: 20px;
                        
                    margin-bottom: 124px;
                        }
    
     .Player{
        box-shadow: 2px 2px 21px rgb(0 0 0 / 15%);
        width: 311px;
       margin-left: 100px;
        height: 426px;
        margin-top: 60px;
     }
     
    
     .Player img{
    
width: 279px;
    
height: 239px;
    
margin-top: 11px;
    
/* margin-left: 145px; */
    
border-radius: 5px;
    
margin-left: 17px;
    }
    
    
    
     .Player h2{
    
    margin-left: 19px;
    
    }
     .Player p{
    
margin-left: 19px;
    
font-size: 13px;
    
width: 220px;
    
height: 107px;
color: #7E7E7E;
font-weight: 400;
    }



    /*----------------------------------------------------- 
    footer-Bio ------------------------------------------------------
     ----------------------------------------------------------------------------*/

    .Detels {

        width: 567px;
        height: 337px;
        padding-left: 190px;
        margin-bottom: 100px;

    }
    .Detels h1{
font-size: 58px;

    }

    
/* --------------------------------------------------------Fotter_Bio -------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------*/
.bottom-logo{

display: flex;

}
    
.match-picture img{
    width: 438px;
    height: 334px;
    padding-left: 155px;
    margin-top: 90px;

}















/* Extra-sectiom */
section.extra {
    background: red;
    margin-top: 70px;
    margin-right: 210px;
    margin-left: 190px;
}

.extention {
    display: flex;
    color: rgb(255, 235, 197);
}

h1#Ticket-Id {
    padding-left: 22px;
}
h1#buying-ticket {
    padding-left: 127px;
}

h1#ticket-time {
    padding-left: 125px;
}



button#counter{





margin-left: 1037px;

padding-top: 14px;
padding-bottom: 14px;
background: antiquewhite;
border-color: white;
border-radius: 30px;
color: black;
font-size: 12px;
font-weight: 600;
margin-bottom: 10px;
}

















/*((((((((((((((((((((((((((---------------------- Fotter-Section-------------------------)))))))))))))))))))))))))
------------------------------------------------------------------------------------------------------------------- */
.Disp-Flex-fot{

    display: flex;
    padding-left: 430px;
    margin-top: 80px;
    margin-bottom: -30px;

}


.Fotter-logo img{

    height: 99px;
    width: 299px;
    margin-top: 31px;


}
.Football h2{
    font-family: 'Niconne', cursive;
    color: #10437A;
  
    font-size: 63px;
    font-style: italic;
    font-weight: 400;
}
.conntact-Icon{


    text-align: center;
  
    margin-right: 130px
}


.fab, .far {
    font-weight: 200;
    font-size: 21px;
    padding-left: 13px;
    padding-right: 12px;
    margin-top: 10px;
    color: #969BAB;
    background-color: #E7E7E8;
   
    border-radius: 50%;
    height: 30px;
    width: 22px;
    margin: 6px;
    padding-bottom: 5px;
    padding-top: 13px;
}

.last-part {
    text-align: center;
    margin-right: 120px;
    margin-top: 40px;
}


/*------------------------------------------------- media-qurrey-------=---=-------=---------========------------------------------ */



@media screen and (max-width:700px) {
   
    .thumble-menu {
     display: block;
        background-color: #2D25A0;
        padding-bottom: 100px;
    }
   
    .thumble-menu {


grid-template-columns: repeat(1,fr);

    }
    .introduction-img img {
        width: 300px;
        height: 335px;
        margin-left: 8px;
        margin-top: 40px;
    }

    .introduction {
     
        font-size: 37px;
        width: 100%;
        height: 230px;
        padding-right: 210px;
        padding-left: 17px;
        margin-bottom: 240px;
        color: #FFFFFF;
        margin-top: -42px;
    }

    .Top-Players{

width: 100%;
padding: 0px;
grid-template-columns: repeat(1,1fr);

    }
    .Player{

margin-left: 0;
margin-right: 0;
margin-top: 20px;

    }
    .bottom-logo{
display: block;

    }
    .Detels{

width: 100%;
padding: 0;

    }
    .match-picture img {

width: 100%;
padding: 0;
margin-top: 300px;

    }
    section.extra {

margin-left: 0;
margin-right: 0;
margin-top: 25px;
margin-bottom: 0;
}
.extention {

display: block;


}
button#counter {
    margin-left:100px;
    padding-top: 14px;
    padding-bottom: 14px;
    background: antiquewhite;
    border-color: white;
    border-radius: 30px;
    color: black;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 25px;}
    
    button#counter:hover{

color: white;
background-color: red;

    }

    h1#Ticket-Id {
        padding-left: 9px;
        margin-top: 33px;
        padding-top: 36px;
        font-size: 42px;
    }




    h1#buying-ticket {
        padding-left: 9px;
        font-size: 42px;
    }

    h1#ticket-time {
      
        padding-left: 9px;
        font-size: 42px;
    }
    .Disp-Flex-fot {
        display: flex;
        padding-left: 0px;
      
        margin-bottom: 72px;
    }
    .conntact-Icon {
        text-align: center;
        margin-right: -10px;
    }
   
    .last-part {
        text-align: center;
        margin-right: -10px;
        margin-top: 40px;
    }
    .Fotter-logo img {
        height: 100px;
        width: 150px;
        margin-top: 10px;
    }
    .Football h2 {
        font-family: 'Niconne', cursive;
        color: #10437A;
        font-size: 45px;
        font-style: italic;
        font-weight: 400;
    }
}